.header {
    position: fixed; // For when JS is not active
	top: 0;
	z-index: 50;
	width: 100%;
	background: transparent;
    transition: all 0.3s ease;

    @include bp-lg {
		padding-top: 35px;
	}

    a, [class^="icon-"] {
		display: block;
		color: #fff;
	}
	a {
		padding: 20px 10px;
		@include font-size(14px);
    }
    
	[class^="icon-"] {
		color: inherit;
    }

    &__inner {
        display: flex;
        align-items: center; // Vertical align all items
        justify-content: flex-end;  // Horizontally align items
        overflow: hidden;
    }

    // Logo
    &__brand {
        display: block;
        svg {
            display: block;
            width: 197px;
            height: 49px;
            margin: 10px 10px 10px 0;
            transition: all 0.3s ease;
            path {
                fill: #fff;
                transition: fill 0.3s ease;
            }

            @include bp-lg {
                width: 280px;
                height: 70px;
            }
        }
    }
    
    // Navigation
    &__navigation {
        display: none;
        @include bp-lg {
            display: inline-block;
            flex-grow: 1;
            > div {
                display: flex;
                justify-content: flex-end;
            }
        }
        .sub-menu {
            display: none;
        }
        .menu-item:hover .sub-menu { // Modify this to combine with li below?
            display: block;
            position: absolute;
            padding: 10px 0;
            list-style-type: none;
            z-index: 5;
            background: #fff;
            a {
                padding: 10px 20px;
                color: inherit;
            }
        }

        li {
            &.current-menu-item, &.current_page_ancestor {
                a {
                    color: $highlight;
                }
            }
        }
    }

    // Search
    &__search {
        display: none;

        & > div {
            display: flex;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    // Search form
    &__search-form {
        flex-grow: 1;
        input[type="text"] {
            width: 100%;
            margin: 0;
            border: none;
            color: #fff;
            @include font-size(25px);
            background-color: transparent;
            transition: all ease 0.3s;
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                color: #FFF;
            }
            &:-ms-input-placeholder {
                color: #FFF;
            }
            &::placeholder {
                color: #FFF;
            }
        }
    }

    // Search close button
    &__search-close {
        display: inline-block;
        cursor: pointer;
    }
}

// No JavaScript
.no-js header.banner {
	position: absolute;
}

// No Masthead or Scroll-triggered
.no-masthead, .scroll-triggered {
    .header {
        background-color: #fff;
    }
    
    a, .header__search-form input[type="text"] {
        color: $text2;	
    }
}    