.masthead {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 500px;
	justify-content: center;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: $highlight;
	overflow: hidden;
	:last-child {
		margin-bottom: 0;
	}
	.placeholder-overlay {
		position: absolute;
		// negative margins to retain sharp edges
		$blur: 10px;
		top: -$blur;
		bottom: -$blur;
		left: -$blur;
		right: -$blur;
		filter:blur($blur);
		opacity: 1;
		transition: opacity 1s linear;
		&.fade-out {
			// JS class added after full size image is loaded
			opacity: 0;
		}
	}
}