h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6 {
	font-family: $font2;
}
h1, .h1 {
  @include fluid-value(font-size, 40px, 50px);
  @include fluid-value(line-height, 42px, 42px);
}
h2, .h2 {
  @include fluid-value(font-size, 36px, 46px);
  @include fluid-value(line-height, 32px, 48px);
}
h3, .h3 {
  @include fluid-value(font-size, 32px, 36px);
  @include fluid-value(line-height, 32px, 34px);
}
h4, .h4 {
	@include font-size(28px);
	line-height: pxtorem(24px);
}
h5, .h5 {
	@include font-size(20px);
	line-height: pxtorem(28px);
}
h6, .h6 {
	@include font-size(16px);
	line-height: pxtorem(26px);
}