img, figure {
	max-width: 100%;
	height: auto;
}
figure {
	img {
		margin-bottom: 15px;
	}
	figcaption {
		@include font-size(12px);
		line-height: pxtorem(14px);
	}
}
img:before {
	display: block;
	content: attr(alt);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-radius: 3px;
	padding: 5px 8px;
	background-color: #e6e6e6;
}

// Fixes stretching issues with IE 9-11
img[src*=".svg"] {
		width: 100%; 
}
