a {
    color: $highlight;
    text-decoration: none;
    word-break: break-all;
    transition: color 0.3s ease, opacity 0.3s ease;
    will-change: color, opacity;
    &:hover,
    &:focus {
        color: $highlight;
        text-decoration: none;
    }
}
