// Fonts
$font1: 'fontname', sans-serif;
$font2: 'fontname', sans-serif;
$icons: 'icons';

// Colors
$teal: #23918f;
$black: #282a2a;
$highlight: $teal;

$text1: #000000;
$text2: #7d7d7d;
$stroke: rgba(0, 0, 0, 0.5);

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$youtube: #cd201f;
$googleplus: #dd4b39;

// Media Queries
$breakpoint-sm: 568px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;


/* Need to figure out where this goes */
p, h1, h2, h3, h4, h5, h6, a, img {
	backface-visibility: hidden; // Prevents bugs in opacity.transitions
	transform: translate3d(0, 0, 0); // Adds hardware acceleration
	-webkit-backface-visibility: hidden; // Helps prevent animation flickers
	-webkit-perspective: 1000; // Helps prevent animation flickers
}
p, h1, h2, h3, h4, h5, h6, figure, blockquote {
	margin: 0 0 pxtorem(25px);
	font-weight: 400;
}


[class^="icon-"] {
	// Visually hide text inside icon classes
	font-size: 0;
	line-height: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	// But show the icon
	&:before {
		@include font-size(16px);
		color: currentColor;
	}
}
::selection {
	color: #fff;
	background: $highlight; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: #fff;
	background: $highlight; /* Gecko Browsers */
}
