@media print {
	h1,	h2,	h3,	h4,	h5,	h6 {
		page-break-after: avoid; // Prevent headings from being printed at the bottom of the page
	}
	img {
	    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	    page-break-inside: avoid; /* or 'auto' */
	}
	.no-print {
		display: none;
	}
	.text-white, h1, h2, h3, h4, h5, h6, p, span {
		color: #000 !important;
	}
	a {
		color: $highlight !important;
	}
	.full-width {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 0;
		padding-right: 0;
	}
	.img-cover, .img-circle, .img-contain {
		&:before {
			display: none !important;
		}
		img {
			position: relative !important;
			width: auto !important;
			height: auto !important;
		    transform: translate(0) !important;
			left: 0;
		}
		.content {
			position: relative !important;
		}
	}
	header.banner {
		position: relative !important;
	}
	header.banner svg path {
		fill: #000 !important;
	}
	.masthead {
		position: relative;
		display: block !important;
		min-height: 0;
        padding: 0;
	}
}
