#skip-to-content {
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px 23px 14px;
	color: #fff;
	background: $highlight;
	z-index: 100000;
	opacity: 0;
	transform: translateY(-100%);
	&:focus, &:active {
		opacity: 1;
		transform: translateY(0);
	}
}
header.banner {
	position: fixed; // For when JS is not active
	top: 0;
	z-index: 50;
	width: 100%;
	background: transparent;
	transition: all 0.3s ease;
	a, [class^="icon-"] {
		display: block;
		color: #fff;
	}
	a {
		padding: 20px 10px;
		@include font-size(14px);
	}
	[class^="icon-"] {
		color: inherit;
	}

	li {
		&.current-menu-item, &.current_page_ancestor {
			a {
				color: $highlight;
			}
		}
	}

	@include bp-lg {
		padding-top: 35px;
	}
}
.no-js header.banner {
	position: absolute;
}
.brand {
	display: block;
	svg {
		display: block;
		width: 197px;
		height: 49px;
		margin: 10px 10px 10px 0;
		transition: all 0.3s ease;
		path {
			fill: #fff;
			transition: fill 0.3s ease;
		}

		@include bp-lg {
			width: 280px;
			height: 70px;
		}
	}
}
#header-main {
	display: flex;
	align-items: center; // Vertical align all items
	justify-content: flex-end;  // Horizontally align items
	overflow: hidden;
}
.nav-primary {
	display: none;
	@include bp-lg {
		display: inline-block;
		flex-grow: 1;
		> div {
			display: flex;
			justify-content: flex-end;
		}
	}
	.sub-menu {
		display: none;
	}
	.menu-item:hover .sub-menu {
		display: block;
		position: absolute;
		padding: 10px 0;
		list-style-type: none;
		z-index: 5;
		background: #fff;
		a {
			padding: 10px 20px;
			color: inherit;
		}
	}
}
#search-button {
	display: none;
	@include bp-lg {
		display: inline-block;
		&.icon-search:before {
			display: inline-block;
			margin-right: 0;
			line-height: pxtorem(20px);
		}
	}
}
#header-search {
	display: none;
	.flex-wrapper {
		display: flex;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	form.searchform {
		flex-grow: 1;
		input[type="text"] {
			width: 100%;
			margin: 0;
			border: none;
			color: #fff;
			@include font-size(25px);
			background-color: transparent;
			transition: all ease 0.3s;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
			    color: #FFF;
			}
			&:-ms-input-placeholder {
			    color: #FFF;
			}
			&::placeholder {
				color: #FFF;
			}
		}
	}
	#search-close {
		display: inline-block;
		cursor: pointer;
	}
}


/**
 * Responsive Nav
 */
#nav-toggle {
	display: none;
}
#mobile-nav-icon {
	// This is the <label> element that contains the menu icon
	cursor: pointer;
	-ms-user-select: none;
	user-select: none;
	@include bp-lg {
		display: none;
	}
	&:before {
		// This is the actual menu icon
		@include font-size(24px);
		transition: all 0.3s;
	}
	&:focus {
		outline: -webkit-focus-ring-color auto 5px;
	}
}
.mobile-nav-open #mobile-nav-icon:before {
	content: '\78';
}
#mobile-nav-icon:hover:before{
	opacity: 0.7;
}
#mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: -999999px;
	height: 0; // Important so it doesn't overlap page elements
	width: 100%;
	z-index: -1;
	opacity: 0;
	color: #fff;
	background: $highlight;
	text-align: center;
	// For the fade animation to work properly without a slide we need the following.
	// - z-index, height, top, and opacity prevents visual and functional effects.
	// - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
	// - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
	transition: z-index 0s linear 0.3s, top 0s linear 0.3s, opacity 0.3s linear 0s, height 0s linear 0.3s;
	backface-visibility: hidden; // Prevents bugs in opacity.transitions
	transform: translate3d(0, 0, 0); // Adds hardware acceleration
	-webkit-backface-visibility: hidden; // Helps prevent animation flickers
	-webkit-perspective: 1000; // Helps prevent animation flickers
	ul {
		width: 100%;
		overflow-y: scroll;
		margin: 0;
		padding: 0;
		list-style-type: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	> ul {
		opacity: 0;
		transform: translateY(-100%);
		transition: opacity 0.5s ease 0s, transform 0.5s ease 0.15s;
		backface-visibility: hidden; // Prevents bugs in opacity.transitions
		-webkit-backface-visibility: hidden; // Helps prevent animation flickers
		-webkit-perspective: 1000; // Helps prevent animation flickers
	}
	a {
		display: block;
		padding: 10px 30px;
		@include font-size(20px);
		line-height: pxtorem(24px);
		color: #fff;
		@include bp-lg {
			@include font-size(30px);
			line-height: pxtorem(32px);
		}
	}
}
#nav-toggle:checked ~ #mobile-nav {
	// For the fade animation to work properly without a slide we need the following.
	// - z-index, height, top, and opacity prevents visual and functional effects.
	// - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
	// - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
	z-index: 49;
	top: 0;
	opacity: 1;
	height: 100vh;
	transition: z-index 0s linear 0s, top 0s linear 0s, opacity 0.3s linear 0s, height 0s linear 0s;
}
#nav-toggle:checked ~ #mobile-nav > ul {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0s;
}


/**
 * Masthead
 */
.masthead {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 500px;
	justify-content: center;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: $highlight;
	overflow: hidden;
	:last-child {
		margin-bottom: 0;
	}
	.placeholder-overlay {
		position: absolute;
		// negative margins to retain sharp edges
		$blur: 10px;
		top: -$blur;
		bottom: -$blur;
		left: -$blur;
		right: -$blur;
		filter:blur($blur);
		opacity: 1;
		transition: opacity 1s linear;
		&.fade-out {
			// JS class added after full size image is loaded
			opacity: 0;
		}
	}
}

/**
 * No Masthead & Scrolled
 */
 .no-masthead header.banner, .scroll-triggered header.banner {
 	background-color: #fff;
 	a,
 	#header-search form.searchform input[type="text"] {
 		color: $text2;	
 	}

 	#header-search form.searchform input[type="text"] {
 		&::-webkit-input-placeholder {
		    color: $text2;
		}
		&:-ms-input-placeholder {
		    color: $text2;
		}
		&::placeholder {
			color: $text2;
		}
 	}
 	.brand svg path {
 		fill: initial;
 	}
}
.scroll-triggered header {
	padding-top: 0;
}
.no-masthead {
	.wrap.container {
		padding-top: 100px;
	}
}

