

/**
 * Search & 404
 */
.search-results-top {
	align-items: center;
	margin-bottom: 30px;
	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.no-js {
	.search-results-top {
		form {
			flex-direction: row;
		}
	}
}
.search-result {
	border-top: 1px solid $stroke;
	padding-top: 30px;
	[class^="col-"] {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.wp-post-image {
		margin-bottom: 35px;
	}
}